li {
    float: left;
    width: 35ch;
    height: 20ch;
    margin-top: 1em;
    border: 2px solid #C5C8DC;
    margin-right: 1em;
    font-size: 15px;
    list-style-type: none;
}
.avatar{
    float: left;
    margin-right: 1em;
    margin-left: 2px;
    margin-top: 2px;
}
.email{
    float: left;
    font-size: 12px;
    font-style: italic;
}
.hangout-button{
    margin-top: 4px;
    margin-left: 1em;
}
.hangout img:active{
     transform: scale(0.5);
}
.avatar{
     max-width: 200px;
     max-height: 150px
}
